body {
  font-family: Arial, sans-serif;
  width: 320px;
  text-align: center;
}

<canvas id="wheel" width="300" height="300"></canvas>

#wheel-container {
  margin: 10px;
  position: relative;
  width: 300px;
  height: 300px;
}
